.slider-buy-max {
  padding-left: 100px;
}

.slider-min {
  display: flex;
  width: 90%;
  overflow: auto;
}
.slider-min img {
  margin: 0 5px;
}

.infor-search {
  display: flex;
  margin: 10px 0 0 0;
}
.infor-search .search-show {
  width: 85%;
}
.infor-search .search-show {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.infor-search .search-show button {
  border: solid white 1px;
  font-size: 15px;
  width: 60px;
  background-color: white;
  transition: background-color 0.5s ease;
  border-radius: 2px;
}
.infor-search .search-show button:hover {
  background-color: #00f;
  border-radius: 2px;
}
.infor-search .search-show #show {
  display: flex;
  flex-wrap: wrap;
}
.infor-search .search-show #show .card {
  width: 328px;
  margin: 0 10px 10px 10px;
  border: solid 2px black;
  height: 420px;
  box-shadow: 5px 5px rgb(179, 177, 177);
}
.infor-search .search-show #show .card:hover {
  box-shadow: 5px 5px rgb(133, 132, 132);
}
.infor-search .search-show #show .card .card-body p {
  display: inline-block;
  width: 100px;
}
.infor-search .search-show #show .card .card-body p i {
  border: solid 1px white;
  font-size: 14px;
}
.infor-search .search-show #show .card .card-footer p i {
  border: solid 1px white;
}
.infor-search .search-show #show .card img {
  max-width: 350px;
  height: 150px;
  width: 325px;
}
.infor-search .search-show i {
  border: solid black 2px;
  height: 40px;
  width: 1000px;
}
.infor-search .search-show i input {
  width: 950px;
  border: solid white 1px;
  height: 36px;
}
.infor-search .search-show #show {
  display: flex;
}

#li-tag > li > span {
  display: inline-block;
}
#li-tag > li > .abc > i {
  display: flex;
  justify-content: center;
}
#li-tag {
  width: 200px;
}
.container {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}
.container .pagination {
  display: flex;
  align-items: center;
}
.container .pagination ul {
  margin: 20px 30px;
}
.container .pagination ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1 px black;
}

.infor-search .list-group li {
  display: flex;
  flex-direction: row;
}
