.visionMission {
  background-color: rgb(13 56 92);
}
.eachYear {
  width: 640px;
}
.timeHistory {
  background: 0 0 url(../assets/location.png) no-repeat;
  background-size: 32px auto;
  position: relative;
  margin-bottom: 40px;
  padding-left: 56px;
}
.timeHistory:not(:last-child):before {
  content: "";
  border-left: 1px dashed #114a7a;
  position: absolute;
  top: 40px;
  bottom: -40px;
  left: 16px;
  width: 0;
}
.infoHistory > li::marker {
  color: orange;
}
.BuyOrSell {
  background: url(../assets/image0103.png) no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* header */
.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.m-auto {
  margin: auto;
}

.pd {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.max-w-screen {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* nar */
.text-w {
  font-weight: 600;
}

.text-w:hover {
  color: rgb(75, 194, 234);
}

.buy {
  position: relative;
  display: inline-block;
}

.menu {
  text-align: left;
}

.buy-hidden {
  border: 1px rgb(217, 190, 190) solid;
  border-radius: 0.4rem;
  background-color: white;
  position: absolute;
  display: none;
  width: 700px;
}

.buy:hover .buy-hidden {
  display: flex;
}

.text-menu {
  font-size: 16px;
}

.text-nav {
  font-size: 14px;
  display: block;
  align-items: center;
  padding: 10px;
}

.text-nav:hover {
  background-color: rgb(209, 220, 227);
}

li a {
  text-decoration: none;
  color: black;
}

.gap-6 {
  gap: 1.5rem;
}

/* right */
.text-w1 {
  font-weight: 700;
}

.text-h {
  font-weight: 500;
}

.up {
  width: 150px;
  height: 50px;
  color: white;
  text-decoration: none;
  background-color: orange;
  text-align: center;
  padding-top: 10px;
  border-radius: 0.25rem;
}

.up:hover {
  background-color: rgb(204, 141, 25);
}

.phone {
  color: black;
  text-decoration: none;
}

.user {
  position: relative;
  display: block;
}

.user-btn {
  padding: 0px;
  padding-bottom: 2px;
}

.user-hidden {
  border: 1px rgb(217, 190, 190) solid;
  border-radius: 0.4rem;
  background-color: white;
  display: none;
  width: 120px;
}

.u-hidden {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
}

.u-hidden:hover {
  background-color: rgb(209, 220, 227);
}

.user:hover .user-hidden {
  background-color: white;
  position: absolute;
  display: block;
}

.footer {
  background-color: rgb(9 37 61);
  width: auto;
}

.footer-left {
  width: 250px;
}

.container {
  display: grid;
  margin-top: auto;
  justify-content: space-between;
}

.text-white > .d-flex > input {
  width: 330px;
}

.input-btn {
  width: 80px;
  height: 50px;
  background-color: rgb(11, 143, 243);
}

.text-md {
  font-size: 14px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.icon {
  align-items: baseline;
  margin-left: 0;
  list-style: none;
  gap: 2rem;
  padding: 0px;
}

.list-st {
  list-style: none;
  padding: 0px;
  width: 200px;
}

.text-ft {
  color: rgb(165 183 198);
}

.text-sz {
  font-size: 12px;
}
