*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.controllbtn{
    background-color:rgb(203, 203, 203);
    height: 30px;
    width: 30px;
    top: 50%;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.iconControll{
    color: black;
}

.nav-link{
    padding: 8px 10px;
    margin-left: 10px;
}

.title a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.newCard{
    margin: 0;
    padding: 30px;
    background-color: rgba(246,126,18,.2);
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.listfoot{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.mostCar{
    margin-top: 10px;
}

.referenceCar{
    margin-top: 10px;
}



.backgroud{
    background-color: #051625;
    border-radius: 10px;
}

a.video{
    color: white;
}


.backgroudCard{
    background-color: #051625;
    margin-left: 20px;
}

.contentCard{
    color: #a5b7c6;
}

.newAndReadCard{
    margin-top: 10px;
}

.itemTitle{
    display: flex;
}

.title_new a{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    color: #222;
}

.saleCar{
    margin-left: 500px;
}

#listSaleCars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popularCar{
    margin-top: 100px;
}

.companyCar{
    background-color: #f0f1f5;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 200px;
    font-size: 14px;
}

#iconOil{
    height: 54px;
    width: 54px;
    background-color:#10823e ;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 16px 8px;
    position: fixed;
    bottom: 50%;
    right: 20px;
}

#backToTop {
    /* CSS của nút */
    height: 50px;
    width: 50px;
    background-color: #0095f9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    transition: opacity 0.3s ease;
}

#backToTop:hover{
    background-color: orange;
    cursor: pointer;
}

.hidden {
    opacity: 0; 
    pointer-events: none; 
}

.visible {
    opacity: 1; 
    pointer-events: auto;
}





    


