*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

#iconOil{
    height: 54px;
    width: 54px;
    background-color:#10823e ;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 16px 8px;
    position: fixed;
    bottom: 50%;
    right: 20px;
}

#backToTop {
    height: 50px;
    width: 50px;
    background-color: #0095f9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    transition: opacity 0.3s ease;
}

#backToTop:hover{
    background-color: orange;
    cursor: pointer;
}
/* 
.hidden {
    opacity: 0; 
    pointer-events: none; 
}

.visible {
    opacity: 1; 
    pointer-events: auto;
} */

.navbar {
    transition: top 0.3s; 
}

.navbar.fixed-top {
    position: fixed; 
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 1000; 
}

#button-addon2{
    background-color: rgb(24 110 182);
}



    


